<form class="{{cssClass}}" autocomplete="off">
    <div class="cof-bg">
        <div class="container px-4">
            <div class="col-12 pt-4 mt-4"></div>
            <!--BLOC DU HAUT (INFOS PERSO ET XP LVL)-->
            <div class="d-flex justify-content-between mt-1">
                <div class="col-4">
                    <div class="d-flex column">
                        <div class="col-8 d-flex row">
                            <div>
                                <input type="text" name="system.family" class="dotted info" value="{{actor.system.family}}" />
                            </div>
                            <div class="font-medium txt-blue txt-display">
                                FAMILLE
                            </div>
                        </div>
                        <div class="col-4 pr-0">
                            <div>
                                <input type="number" name="system.age" class="dotted info" value="{{actor.system.age}}" />
                            </div>
                            <div class="font-medium text-center txt-blue txt-display">
                                AGE
                            </div>
                        </div>
                    </div>

                    <div class="d-flex column">
                        <div class="col-4 d-flex row">
                            <div>
                                <input type="text" name="system.sex" class="dotted info" value="{{actor.system.sex}}" />
                            </div>
                            <div class="font-medium txt-blue txt-display">
                                SEXE
                            </div>
                        </div>
                        <div class="col-4 pr-0">
                            <div>
                                <input type="text" class="dotted" name="system.weight" class="dotted info" value="{{actor.system.weight}}"/>
                            </div>
                            <div class="font-medium text-center txt-blue txt-display">
                                POIDS
                            </div>
                        </div>
                        <div class="col-4 pr-0">
                            <div>
                                <input type="text" name="system.size" class="dotted info" value="{{actor.system.size}}"/>
                            </div>
                            <div class="font-medium text-center txt-blue txt-display">
                                TAILLE
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 character-name d-flex align-items-center">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/>
                </div>
                <div class="col-4 d-flex align-items-center px-4 bloc-xp">
                    <div class="col-6 pr-2 pl-0">
                        <div class="bg-blue align-items-center d-flex rounded-1">
                            <div class="px-2 font-bold txt-white txt-display-2">
                                XP
                            </div>
                            <input type="text" class="rounded-1 py-3" />
                        </div>
                    </div>
                    <div class="col-6 pr-0 pl-0">
                        <div class="bg-blue align-items-center d-flex rounded-1">
                            <div class="px-2 font-bold txt-white txt-display-2">
                                NIV
                            </div>
                            <input type="text" class="rounded-1 py-3" />
                        </div>
                    </div>
                </div>
            </div>
            <!--BLOC DU MILLEUX (CARACTÉRISTIQUES, STATS, VOIE DU PEUPLE )-->
            <div class="d-flex justify-content-between mt-4">
                <!--CARACTÉRISTIQUES-->
                <div class="col-4 d-flex">
                    <div>
                        <div class="title-section mb-2">
                            CARACTÉRISTIQUES
                        </div>
                        <div class="d-flex column bloc-xp">
                            <div class="bg-blue carac column align-items-center d-flex rounded-1 mr-2">
                                <div class="px-2 font-bold txt-white txt-display-2">AGI</div>
                                <input type="number" class="rounded-1 py-3 info" data-name="agility" data-type="carac" name="system.attributes.agility.value" value="{{actor.system.attributes.agility.value}}" />
                                <span class="modificateur">{{actor.system.attributes.agility.mod}}</span>                        
                            </div>
                             <input type="text" class="rounded-1 py-3 note" placeholder="Notes..." />
                        </div>
                        <div class="d-flex column bloc-xp mt-1">
                            <div class="bg-blue carac column align-items-center d-flex rounded-1 mr-2">
                                <div class="px-2 font-bold txt-white txt-display-2">CON</div>
                                <input type="text" class="rounded-1 py-3 info" data-name="constitution" data-type="carac"  name="system.attributes.constitution.value" value="{{actor.system.attributes.constitution.value}}"/>
                                <span class="modificateur">{{actor.system.attributes.constitution.mod}}</span>
                            </div>
                             <input type="text" class="rounded-1 py-3 note" placeholder="Notes..." />
                        </div>
                        <div class="d-flex column bloc-xp mt-1">
                            <div class="bg-blue carac column align-items-center d-flex rounded-1 mr-2">
                                <div class="px-2 font-bold txt-white txt-display-2">FOR</div>
                                <input type="text" class="rounded-1 py-3 info" data-name="force" data-type="carac" name="system.attributes.force.value" value="{{actor.system.attributes.force.value}}"/>
                                <span class="modificateur">{{actor.system.attributes.force.mod}}</span>
                            </div>
                             <input type="text" class="rounded-1 py-3 note" placeholder="Notes..." />
                        </div>
                        <div class="d-flex column bloc-xp mt-1">
                            <div class="bg-blue carac column align-items-center d-flex rounded-1 mr-2">
                                <div class="px-2 font-bold txt-white txt-display-2">PER</div>
                                <input type="text" class="rounded-1 py-3 info" data-name="perception" data-type="carac" name="system.attributes.perception.value" value="{{actor.system.attributes.perception.value}}" />
                                <span class="modificateur">{{actor.system.attributes.perception.mod}}</span>
                            </div>
                             <input type="text" class="rounded-1 py-3 note" placeholder="Notes..." />
                        </div>
                        <div class="d-flex column bloc-xp mt-1">
                            <div class="bg-blue carac column align-items-center d-flex rounded-1 mr-2">
                                <div class="px-2 font-bold txt-white txt-display-2">CHA</div>
                                <input type="text" class="rounded-1 py-3 info" data-name="charisme" data-type="carac" name="system.attributes.charisme.value" value="{{actor.system.attributes.charisme.value}}"/>
                                <span class="modificateur">{{actor.system.attributes.charisme.mod}}</span>
                            </div>
                             <input type="text" class="rounded-1 py-3 note" placeholder="Notes..." />
                        </div>
                        <div class="d-flex column bloc-xp mt-1">
                            <div class="bg-blue carac column align-items-center d-flex rounded-1 mr-2">
                                <div class="px-2 font-bold txt-white txt-display-2">INT</div>
                                <input type="text" class="rounded-1 py-3 info" data-name="intelligence" data-type="carac" name="system.attributes.intelligence.value" value="{{actor.system.attributes.intelligence.value}}"/>
                                <span class="modificateur">{{actor.system.attributes.intelligence.mod}}</span>
                            </div>
                             <input type="text" class="rounded-1 py-3 note" placeholder="Notes..." />
                        </div>
                        <div class="d-flex column bloc-xp mt-1">
                            <div class="bg-blue carac column align-items-center d-flex rounded-1 mr-2">
                                <div class="px-2 font-bold txt-white txt-display-2">VOL</div>
                                <input type="text" class="rounded-1 py-3 info" data-name="volonte" data-type="carac"  name="system.attributes.volonte.value" value="{{actor.system.attributes.volonte.value}}"/>
                                <span class="modificateur">{{actor.system.attributes.volonte.mod}}</span>
                            </div>
                             <input type="text" class="rounded-1 py-3 note" placeholder="Notes..." />
                        </div>
                        <div class="title-section sub mt-3">IDÉAL HÉROÎQUE</div>
                        <input type="text" class="rounded-1 py-3 mt-1 ideal info" name="system.ideal" value="{{actor.system.ideal}}"  />
                        <div class="title-section sub mt-2">TRAVERS</div>
                        <input type="text" class="rounded-1 py-3 mt-1 ideal info" name="system.travers" value="{{actor.system.travers}}" />
                    </div>
                </div>
                <!--STATS-->
                <div class="col-4 d-flex">
                    <div class="stats-wrap">
                        <div class="stats">
                            <div class="bg-grey input-1 column align-items-center d-flex rounded-1">
                                <div class="px-2 txt-white txt-display-2 text stats-bloc ml-2 init">INITIATIVE</div>
                                <div class="stats-input-1">
                                    <input type="text" class="rounded-1 py-3" />
                                </div>
                            </div>
                        </div>
                        <div class="stats mt-1">
                            <div class="bg-grey input-3 column align-items-center d-flex rounded-1">
                                <div class="px-2 txt-white txt-display-2 text stats-bloc ml-2 def">DÉFENSE</div>
                                <div class="stats-input-3 d-flex">
                                    <input type="text" class="rounded-1 py-3" />
                                    <input type="text" class="rounded-1 py-3" />
                                    <input type="text" class="rounded-1 py-3" />
                                </div>
                            </div>
                        </div>
                        <div class="stats mt-3">
                            <div class="bg-grey input-2 column align-items-center d-flex rounded-1">
                                <div class="px-2 txt-white txt-display-2 text stats-bloc ml-2 vig">VIGEUR</div>
                                <div class="stats-input-2 d-flex">
                                    <input type="text" class="rounded-1 py-3" />
                                    <input type="text" class="rounded-1 py-3" />
                                </div>
                            </div>
                        </div>
                        <div class="stats mt-1">
                            <div class="bg-grey input-3 column align-items-center d-flex rounded-1">
                                <div class="px-2 txt-white txt-display-2 text stats-bloc ml-2 recup">RECUP</div>
                                <div class="stats-input-3 d-flex">
                                    <input type="text" class="rounded-1 py-3" />
                                    <input type="text" class="rounded-1 py-3" />
                                    <input type="text" class="rounded-1 py-3" />
                                </div>
                            </div>
                        </div>
                        <div class="stats mt-3">
                            <div class="bg-grey input-2 column align-items-center d-flex rounded-1">
                                <div class="px-2 txt-white txt-display-2 text stats-bloc ml-2 chance">CHANCE</div>
                                <div class="stats-input-2 d-flex">
                                    <input type="text" class="rounded-1 py-3" />
                                    <input type="text" class="rounded-1 py-3" />
                                </div>
                            </div>
                        </div>
                        <div class="stats mt-1">
                            <div class="bg-grey input-2 column align-items-center d-flex rounded-1">
                                <div class="px-2 txt-white txt-display-2 text stats-bloc ml-2 mana">MANA</div>
                                <div class="stats-input-2 d-flex">
                                    <input type="text" class="rounded-1 py-3" />
                                    <input type="text" class="rounded-1 py-3" />
                                </div>
                            </div>
                        </div>

                        <div class="title-section lang">
                            LANGAGES
                        </div>
                        <textarea  class="rounded-1 py-3 mt-1 langfield info" name="system.lang" value="{{actor.system.lang}}">{{actor.system.lang}}</textarea>
                        {{!-- <input type="text" class="rounded-1 py-3 mt-1 langfield info" name="system.lang" value="{{actor.system.lang}}"/> --}}
                    </div>
                </div>
                <!--VOIE DU PEUPLE-->
                <div class="col-4 d-flex">
                    <div>
                        <div class="title-section mb-2">
                            VOIE DU PEUPLE
                        </div>

                         {{#each itemsByRank.[1] as |item index|}}
                        <div class="wrap-voie mt-1">
                            <div class="labelrank">RANG {{index}}</div>
                            <div class="item-drop">
                                <div class="item" data-item-id="{{item._id}}">
                                    <div class="title-voie">{{item.name}} {{index}}</div>
                                    <div class="desc-voie">{{{item.system.description}}}</div>
                                    <div class="item-controls">
                                        <a class="item-control item-delete" title="Supprimer l'objet">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                            <div class="wrap-voie mt-1">
                                <div class="item-drop drag">
                                    <div class="item">
                                        <div class="title-voie">Drag & Drop</div>
                                    </div>
                                </div>
                            </div>
                            
                        {{/each}}
                        {{!-- <div class="wrap-voie mt-1">
                            <div class="labelrank">RANG 2</div>
                            <div class="item-drop">
                                {{#each itemsByRank.[2] as |item|}}
                                    {{log "Processing item in rank :" item.name}}
                                    <div class="item" data-item-id="{{item._id}}">
                                        <div class="title-voie">{{item.name}}</div>
                                        <div class="desc-voie">{{{item.system.description}}}</div>
                                        <div class="item-controls">
                                            <a class="item-control item-delete" title="Supprimer l'objet">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="item">
                                        <div class="title-voie text-center d-flex">Drag & Drop</div>
                                    </div>
                                {{/each}}
                            </div>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Supprimer l'objet">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="wrap-voie mt-1">
                            <div class="labelrank">RANG 3</div>
                            <div class="item-drop"></div>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Supprimer l'objet">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="wrap-voie mt-1">
                            <div class="labelrank">RANG 4</div>
                            <div class="item-drop"></div>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Supprimer l'objet">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="wrap-voie mt-1">
                            <div class="labelrank">RANG 5</div>
                            <div class="item-drop"></div>
                            <div class="item-controls">
                                <a class="item-control item-delete" title="Supprimer l'objet">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div> --}}
                        {{!-- <div class="item-list items-list">
                            {{#each actor.items as |item id|}}
                                <div class="item d-flex wrap-voie" data-item-id="{{item._id}}">
                                    <div class="">
                                        <h4>{{item.name}}</h4>
                                        <div>{{{item.system.description}}}</div>
                                    </div>
                                    <div class="item-controls">
                                        <a class="item-control item-delete" title="Supprimer l'objet">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            {{else}}
                                DRAG AND DROP COMPENDIUM
                            {{/each}}
                        </div> --}}
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
        
    </div>


    {{!-- <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/>
        </h1>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Sorts</a>
    </nav>

    <section class="sheet-body">
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="attribute force">
                <label>Force</label>
                <div class="attribute-value">
                    <input type="number" name="system.attributes.force.value" value="{{actor.system.attributes.force.value}}" data-dtype="Number"/>
                    Modificateur : <span class="attribute-mod">({{numberFormat actor.system.attributes.force.mod sign=true}})</span>
                    <button class="roll-force" type="button">
                        <i class="fas fa-dice-d20"></i> Lancer 1D20
                    </button>
                </div>
            </div>
        </div>
        
        <div class="tab description" data-group="primary" data-tab="description">
            <textarea name="system.biography" rows="4">{{actor.system.biography}}</textarea>
        </div>

        <div class="tab items" data-group="primary" data-tab="items">
            <div class="items-list">
                <div class="items-header flexrow">
                    <div class="item-name">Nom</div>
                </div>
                
                <div class="item-list">
                    {{#each actor.items as |item id|}}
                    <div class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-name">
                            <div class="item-image">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Supprimer l'objet">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    {{else}}
                        DRAG AND DROP COMPENDIUM
                    {{/each}}
                </div>
            </div>
        </div>
    </section> --}}
</form>