<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Nom de l'objet"/>
            </h1>
        </div>
    </header>

    <div>
        <h3>Niveau</h3>
        <p>{{item.system.rarity}}</p>
        <h3>Temps d'incantation</h3>
        <h3>Durée</h3>
        <h3>Portée</h3>
        <h3>Cible</h3>
        <h3>Composantes</h3>
        <h3>Dégats</h3>
        <h3>Sauvegarde</h3>
        <h3>Apparence</h3>
        <h3>Effet</h3>
        <h3>Evolution</h3>
    </div>

    <!-- {{!-- Onglets --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributs</a>
    </nav>

    {{!-- Contenu des onglets --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="form-group">
                <label>Rareté</label>
                <select name="system.rarity">
                    {{#select system.rarity}}
                    {{#each config.rarityTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            
            <div class="form-group">
                <label>Prix</label>
                <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number"/>
            </div>
            
            <div class="form-group">
                <label>Poids</label>
                <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
            </div>
            
            <div class="form-group">
                <label>Quantité</label>
                <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
            </div>
        </div>
    </section> -->
</form>