<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="item-spell-header m-0 p-0">
        <div class ="container item-spell-header flex-grow-1 m-0 p-0">
            <div class="d-flex justify-content-start justify-content-around align-items-center">
                <div class="col-2 flex-grow-1 m-0 p-2">
                    <img class="medium-img m-0 p-0" src="{{item.img}}" data-edit="img" title="{{item.name}}">
                </div>
                <div class="col-8 flex-grow-1 m-0 p-0">
                    <h1 class="p-0 m-0">
                        <input class="header-name" name="name" type="text" value="{{item.name}}" placeholder="Nom de l'objet"/>
                    </h1>
                </div>
                <div class="col-2 flex-grow-1 m-0 p-0">
                    <button class="preview">
                        {{#if system.preview}}
                        <img class="small-img m-0 p-0" src="systems/RnP/assets/icons/edit/scroll_light.png" alt="Editer">
                        {{else}}
                        <img class="small-img m-0 p-0" src="systems/RnP/assets/icons/edit/feather_light.png" alt="Editer">
                        {{/if}}
                    </button>
                </div>
            </div>
        </div>
    </header>   

    <br>
    <!-- APPARENCE -->
    <div class="container">
        <div class="d-flex form-group align-items-start justify-content-start m-0 p-0">
            <label class="col-3 m-0 p-0">Apparence</label>
            {{#if system.preview}}
                <textarea class="form-textarea" id="system.visual" name="system.visual" rows="2">{{system.visual}}</textarea>
            {{else}}
                <p class="form-content col-9 m-0 p-0">{{system.visual}}</p>
            {{/if}}
        </div>
    </div>
    <br>

    <!-- CLASSES -->
    <div class="container">
        <div class="d-flex form-group align-items-start justify-content-start m-0 p-0">
            <div class="col-3 m-0 p-0">
                <label for="classes">Classe(s)</label>
            </div>
            {{#if system.preview}}
            <div class="col-9 m-0 p-0 d-flex flex-wrap">
                {{#each config.classeTypes as |name val|}}
                    <div class="col-4 p-0 d-flex align-items-center">
                        <input class="form-check-input classe-click" type="checkbox" name="classes" id="{{name}}" value="{{val}}" {{isChecked ../system.classes val}}>
                        <label class="form-check-label ms-1" for="{{name}}">{{name}}</label>
                    </div>
                {{/each}}
            </div>
            {{else}}
            <div class="col-9 p-0 m-0 text-start">
                <p class="flex-wrap p-0 m-0">{{array config.classeTypes system.classes}}</p>
            </div>
            {{/if}}
        </div>
    </div>
    <br>

    <!-- NIVEAU -->
    <div class="container">
        <div class="d-flex form-group align-items-start justify-content-start m-0 p-0">
            <div class="col-3 m-0 p-0">
                <label class="col-3 m-0 p-0" for="spelllevel">Niveau</label>
            </div>
            <div>
                {{#if system.preview}}
                    <select name="system.spellLevel">
                        {{selectOptions config.spellLevels selected=system.spellLevel}}
                    </select>
                {{else}}
                    <p class="form-content col-9 m-0 p-0">{{array config.spellLevels system.spellLevel}}</p>
                {{/if}}
            </div>
        </div>
    </div>  
    <br>


        <!-- DUREE -->
        <div class="form-group duration">
            <label for="duration">Durée</label>
            <!-- 5: "round(s)", 10: "minute(s)", 20: "heure(s)", 30: "jour(s)" -->
            {{#if (eq system.durationtype 5 10 20 30)}}
                <input type="number" name="system.durationvalue" value="{{system.durationvalue}}" data-dtype="Number"/>
            {{/if}}
            <select name="system.durationtype">
                {{selectOptions config.durationTypes selected=system.durationtype}}
            </select>
        </div>
        <!-- COMPOSANTS -->
        <div class="form-group"> 
            <label for="components">Composant(s)</label>
            <div id="components">
                {{#each config.componentsTypes as |name val|}}
                    <!-- {{this}} -->
                    {{#if (inside ../system.components val)}}
                        <input class="form-check-input component-click" type="checkbox" name="components" id="{{name}}" value="{{val}}" checked>  
                    {{else}}
                        <input class="form-check-input component-click" type="checkbox" name="components" id="{{name}}" value="{{val}}"> 
                    {{/if}}
                    <label class="form-check-label">{{name}}</label> 
                {{/each}}
            </div>
        </div>
        <!-- DOMMAGES -->
        <div class="form-group">
            <label for="damages">Dommages</label>
            <input type="text" name="system.damages" id="damages" value="{{system.damages}}">
        </div>
        <!-- TEMPS D'INCANTATIONS -->
        <div class="form-group incant">
            <label for="incantation">Temps d'incantation</label>
            <!-- 25: "heure(s)"",30: "minute(s)",32: "round(s)", -->
            {{#if (eq system.incantationtype 25 30 32)}}
                <input type="number" name="system.incantationvalue" value="{{system.incantationvalue}}" data-dtype="Number"/>
            {{/if}}
            <select name="system.incantationtype">
                {{selectOptions config.incantationTypes selected=system.incantationtype}}
            </select>
        </div>
        <!-- EFFET -->
        <div class="form-group">
            <label for="system.effect">Effet :</label><br>
            <textarea class="form-textarea" id="system.effect" name="system.effect" rows="6" cols="50">{{system.effect}}</textarea>
        </div>
        <!-- LIMITATION -->
        <div class="form-group">
            <label for="system.limits">Limitation :</label><br>
            <textarea class="form-textarea" id="system.limits" name="system.limits" rows="6" cols="50">{{system.limits}}</textarea>
        </div>
    </div>

    <br><br>
    <!-- DEBUG -->
    <!-- <div><label for="classes"> ============================================ </label></div>
    <div><label for="classes">Classe(s) : {{system.classes}}</label></div>
    <div><label for="spelllevel">Niveau : {{system.spellLevel}}</label></div>
    <div><label for="spelllevel">Durée : {{system.durationtype}}</label></div>
    <div><label for="incantation">Temps d'incantation :  type {{system.incantationtype}}  value {{system.incantationvalue}}</label></div>
    <div><label for="components">Composants : {{system.components}}</label></div>
    <div><label for="classes"> ============================================ </label></div>
    <br><br>  -->
</form>


