<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Nom de l'objet"/>
            </h1>
        </div>
    </header>

    <div>
        <br><br>
        <!-- CLASSES -->
        <div class="form-group">
            <label for="classes">Classe(s)</label>
            <div id="classes">
                {{#each config.classeTypes as |name val|}}
                    <!-- {{this}} -->
                    {{#if (inside ../system.classes val)}}
                        <input class="form-check-input classe-click" type="checkbox" name="classes" id="{{name}}" value="{{val}}" checked>  
                    {{else}}
                        <input class="form-check-input classe-click" type="checkbox" name="classes" id="{{name}}" value="{{val}}"> 
                    {{/if}}
                    <label class="form-check-label">{{name}}</label> 
                {{/each}}
            </div>
        </div>
        <!-- NIVEAU -->
        <div class="form-group">
            <label for="spelllevel">Niveau</label>
            <select name="system.spellLevel">
                {{selectOptions config.spellLevels selected=system.spellLevel}}
            </select>
        </div>
        <!-- DUREE -->
        <div class="form-group duration">
            <label for="duration">Durée</label>
            <!-- 5: "round(s)", 10: "minute(s)", 20: "heure(s)", 30: "jour(s)" -->
            {{#if (eq system.durationtype 5 10 20 30)}}
                <input type="number" name="system.durationvalue" value="{{system.durationvalue}}" data-dtype="Number"/>
            {{/if}}
            <select name="system.durationtype">
                {{selectOptions config.durationTypes selected=system.durationtype}}
            </select>
        </div>
        <!-- COMPOSANTS -->
        <div class="form-group"> 
            <label for="components">Composant(s)</label>
            <div id="components">
                {{#each config.componentsTypes as |name val|}}
                    <!-- {{this}} -->
                    {{#if (inside ../system.components val)}}
                        <input class="form-check-input component-click" type="checkbox" name="components" id="{{name}}" value="{{val}}" checked>  
                    {{else}}
                        <input class="form-check-input component-click" type="checkbox" name="components" id="{{name}}" value="{{val}}"> 
                    {{/if}}
                    <label class="form-check-label">{{name}}</label> 
                {{/each}}
            </div>
        </div>
        <!-- DOMMAGES -->
        <div class="form-group">
            <label for="damages">Dommages</label>
            <input type="text" name="system.damages" id="damages" value="{{system.damages}}">
        </div>
        <!-- TEMPS D'INCANTATIONS -->
        <div class="form-group incant">
            <label for="incantation">Temps d'incantation</label>
            <!-- 25: "heure(s)"",30: "minute(s)",32: "round(s)", -->
            {{#if (eq system.incantationtype 25 30 32)}}
                <input type="number" name="system.incantationvalue" value="{{system.incantationvalue}}" data-dtype="Number"/>
            {{/if}}
            <select name="system.incantationtype">
                {{selectOptions config.incantationTypes selected=system.incantationtype}}
            </select>
        </div>
        <!-- APPARENCE -->
        <div class="form-group">
            <label for="system.visual">Apparence :</label><br>
            <textarea class="form-textarea" id="system.visual" name="system.visual" rows="4" cols="50">{{system.visual}}</textarea>
        </div>
        <!-- EFFET -->
        <div class="form-group">
            <label for="system.effect">Effet :</label><br>
            <textarea class="form-textarea" id="system.effect" name="system.effect" rows="6" cols="50">{{system.effect}}</textarea>
        </div>
        <!-- LIMITATION -->
        <div class="form-group">
            <label for="system.limits">Limitation :</label><br>
            <textarea class="form-textarea" id="system.limits" name="system.limits" rows="6" cols="50">{{system.limits}}</textarea>
        </div>
    </div>

    <br><br>
    <!-- DEBUG -->
    <div><label for="classes"> ============================================ </label></div>
    <div><label for="classes">Classe(s) : {{system.classes}}</label></div>
    <div><label for="spelllevel">Niveau : {{system.spellLevel}}</label></div>
    <div><label for="spelllevel">Durée : {{system.durationtype}}</label></div>
    <div><label for="incantation">Temps d'incantation :  type {{system.incantationtype}}  value {{system.incantationvalue}}</label></div>
    <div><label for="components">Composants : {{system.components}}</label></div>
    <div><label for="classes"> ============================================ </label></div>
    <br><br> 

    <!-- {{!-- Onglets --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributs</a>
    </nav>

    {{!-- Contenu des onglets --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="form-group">
                <label>Rareté</label>
                <select name="system.rarity">
                    {{#select system.rarity}}
                    {{#each config.rarityTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            
            <div class="form-group">
                <label>Prix</label>
                <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number"/>
            </div>
            
            <div class="form-group">
                <label>Poids</label>
                <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
            </div>
            
            <div class="form-group">
                <label>Quantité</label>
                <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
            </div>
        </div>
    </section> -->
</form>